.game-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    font-size: 16px;
}

.game-image-container {
    position: relative;
    width: 100%;
}

.game-image-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.overlay-text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

.game-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #0c0c0c;
}

.game-info span {
    font-size: 0.9em;
}

.game-info button {
    font-size: 0.8em;
    padding: 5px 10px;
}

/* Media query for responsiveness */
@media (max-width: 1200px) {
    .game-card {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .game-card {
        font-size: 12px;
    }
}