.game-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
    height: 40px;
}

.game-list-wrapper {
    overflow: hidden;
    width: 100%;
}

.game-list {
    display: flex;
    transition: transform 0.1s ease-in-out;
}

.game-card {
    flex: 0 0 calc(80%/4);
    box-sizing: border-box;
    margin: 0 5px;
}

.nav-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}