@font-face {
    font-family: MyFont;
    src: url('../assets/Rubik.ttf');
}

.app-header {
    display: flex;
    align-items: center;
    background-color: #333;
    font-family: MyFont;
    width: 100vw;
}

.header-top {
    display: flex;
    align-items: center;
    background-color: #333;
    font-family: MyFont;
    width: 100vw;
}

.header-bottom {
    display: flex;
    align-items: center;
    background-color: #333;
    font-family: MyFont;
    width: 100vw;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: auto;
    margin-bottom: 0;
}

.logo-container img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
}

.website-title {
    color: white;
    font-size: 1.6rem;
    margin-bottom: auto;
}

.subtitle {
    margin-top: auto;
    font-size: 0.8rem;
}

.theme-toggle-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.my-cart-button {
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.theme-toggle-button:focus {
    outline: none;
}

.theme-toggle-button img,
.my-cart-button img {
    width: 30px;
    height: 30px;
    transition: transform 0s linear;
    display: block;
}

.theme-toggle-button:hover img {
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(52%) sepia(70%) saturate(482%) hue-rotate(149deg) brightness(88%) contrast(91%);
    transition: transform 0.2s linear;
}

.browse-container {
    position: relative;
}

/* .dropdown-menu {
    display: none;
    position: absolute;
} */

.icon-and-text {
    display: flex;
    align-items: center;
}

.search-input,
.search-button {
    padding: 5px;
    font-size: 0.8rem;
}

.search-button {
    width: 30px;
    margin-right: 20px;
}

.browse-button {
    margin-left: 10px;
}